<div class="container my-5">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4">Iniciar sesión</h1>
              <form (ngSubmit)="onSubmit()" #productoForm="ngForm" autocomplete="off">
                <div class="mb-3">
                  <label class="mb-2 text-muted" for="email">Cedula</label>
                  <input id="email" type="email" class="form-control" name="email" [(ngModel)]="cliente.cedula" required
                    autofocus>
                </div>

                <div class="mb-3">
                  <div class="mb-2 w-100">
                    <label class="text-muted" for="password">Contraseña</label>
                    <a href="#" class="float-end">
                      ¿Olvidaste tu contraseña?
                    </a>
                  </div>
                  <input id="password" type="password" class="form-control" name="password"
                    [(ngModel)]="cliente.contrasena" required>

                </div>

                <div class="d-flex align-items-center">
                  <div class="form-check">
                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                    <label for="remember" class="form-check-label">Recuerdame</label>
                  </div>
                  <button type="submit" class="btn btn-primary ms-auto" [disabled]="productoForm.invalid">
                    Login
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer py-3 border-0">
              <div class="text-center">
                ¿Aún no tienes una cuenta? <a href="#">Crear cuenta</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>